{
    "private_key": "0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
    "rest_url": "https://fullnode.devnet.aptoslabs.com",
    "faucet_url": "https://faucet.devnet.aptoslabs.com"
}